.container{
    background: #fafafa;
    border:1px solid rgba(0,0,0,0.08);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 8px 24px rgba(0.75,0.75,0.75,0.75);
}

.container h1{
    text-align: center;
    margin-bottom: 24px;
}

.container p{
    text-align: justify;
    margin-bottom: 24px;
    border:1px solid rgba(0,0,0,0.08);
    border-radius: 16px;padding: 32px;
}