.carrossel{
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
        
}

.place-carrossel{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 40px;
}

.place-carrossel .imgs{

    flex: 0 0 30%;
    height: 100%;

    border: 1px solid #514c4c;
}

.imgs img{
    transform: translateX(0);
    width: 100%;
    height: 100%;
}

#anterior, #proximo{
    position: absolute;
    top: 50%;
    bottom: 50%;

    width: 50px;
    height: 50px;
    border-style: none;
    box-shadow: 1px 2px 5px 1px #9AA9A2;
    border-radius: 100%;
}

#anterior{
    left: -1.5%;
}

#proximo{
    right: 1%;
}