.place-introducao {
    width: 100%;
    height: 900px;
    margin-bottom: 32px;
    position: relative;
    background-image: url("../imagens/banner.jpg");
    background-size: cover;

}

#grid-color {
    position: absolute;
    background-color: #000;
    opacity: .5;
    width: 100%;
    height: 100px;
    bottom: 0%;
}

#documentario {
    padding: 120px 0 24px 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#logo-documentario img {
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 500px;
    cursor: pointer;
    transition: .2s ease-in-out all;
}

#logo-documentario img:hover {
    width: 540px;
    transition: .2s ease-in-out all;
}

.grid-colaboradores {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}

.grid-colaboradores a {
    text-decoration: none;
}

.grid-colaboradores p{
    background-color: #9AA9A2;
    color: #000;
    opacity: 0.6;
    width: 150px;
    height: 40px;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.5s;
}

.grid-colaboradores p:hover {
    background-color: #4a7766;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(-3px);
}


#btn-retornar {
    position: absolute;
    bottom: 20%;
    left: 2%;
    opacity: 0.8;
    padding: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    font-family: monospace;
    transition: 0.5s ease;
}

#btn-retornar:hover {
    background-color: #9AA9A2;
    transition: 0.5s ease;
}