.nav-bar{
    padding: 15px 24px;
    display: flex;
    gap: 24px;
    width: fit-content;
    background-color: #342721;
    transition: all 0.80s ease-out;
    position: fixed;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(12px);
    border-radius: 999px;
    top: 10px;
    
}

.nav-bar:hover{
    background-color: #ddc5a3;
    transition: all 0.80s ease-out;
}

.link{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 8px 16px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9AA9A2;
    transition: 1s;
    cursor: pointer;
}

.link:hover{
    background-color: #ddc5a3;
    color: #222B28;
    transition: all 0.80s ease-out;
    transform: translateY(-3px);
    background: radial-gradient(
    circle at bottom,
    #342721 5%,
    rgb(206, 183, 150) 95%
  );
}




