.place-cards{

}

.card{
    width: 100%;    
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;

}

.card #principal, #opaco{
    width: 200px;
    height: 20%;
    position: absolute;

}

#opaco{
    background-color: bisque;
    opacity: 0;
}

#opaco:hover{
    opacity: 1;
    position: absolute;
    transition: 0.9s ease;
}


#principal{
    background-color: aqua;
}


