*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{}

.container{
    max-width: 1200px;
    margin: auto;
}

.linha-separacao{
    border-bottom: 1px solid #000;
    width: 100%;
    margin-bottom: 32px;
}